<p id="notice"><%= notice %></p>

<h1>Here are the Shows..!!</h1

	<div class="container">
    <br>
    <%= form_tag(root_path, :method => "get") do %>
        <%= label_tag(:search_channel, "Search for Channel :") %>
        <%= text_field_tag(:search_channel) %>
        <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="container">
    <%= form_tag(root_path, :method => "get") do %>
        <%= label_tag(:search_show, "Search for Show:") %>
        <%= text_field_tag(:search_show) %>
        <%= submit_tag("Search") %>
    <% end %>
  </div>
<br><br>
<table>
  <thead>
    <tr>
      <th>Show name </th>
      <th>Show timing </th>
      <th>Duration </th>
      <th>Channel </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.show_name %> </td>
        <td><b><%= show.show_timing %></b> </td>
        <td> <%= show.duration %> Minutes </td>
        <td><b><%= show.channel.channel_name %></b> </td>
        <% if user_signed_in? then %>
        	<%if show.users.find_by(id: current_user.id) then %>
        		<td><%= link_to ' revome from favourite',{:controller => "home", :action => "fav", :show_id => show.id } %></td>
        	<%else%>
        	<td><%= link_to 'favourite',{:controller => "home", :action => "fav", :show_id => show.id } %></td>
        	<%end%>	
        <%else%>
         <td><%= link_to 'favourite',{:controller => "home", :action => "fav", :show_id => show.id } %></td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>