<p id="notice"><%= notice %></p>

<p>
  <strong>Show name:</strong>
  <%= @show.show_name %>
</p>

<p>
  <strong>Show timing:</strong>
  <%= @show.show_timing %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @show.duration %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @show.channel_id %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
